@model CqrsSample.Models.ChangePasswordModel

@using(Html.BeginForm("ChangePassword","Users"))
{
    @Html.HiddenFor(x => x.UserId)
    <ul>
        <li>
    @Html.LabelFor(x => x.OldPassword)
    @Html.PasswordFor(x => x.OldPassword)</li>
        <li>
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword)</li>
            <li> <input type="submit"/></li>
    </ul>
    
   
}